.shop-container{
    display: flex;
    justify-content: space-evenly; 
}
.product-container{
    width: 60%;
    /* border-right: 1px solid lightgray; */
}
.cart-container{
    /* background-color: gray; */
    width: 300px;
    padding: 20px;
    height: 300px;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 4px 8px 19px gray;
}
